:root {
  --mainColor : #293264;
  --secondColor : #F5F7FB;
  --mainFont: Karla, sans-serif;
  --secondFont: Inter, sans-serif;
  

}
html, body {
  margin: 0;
  padding: 0;
  background-color: #F5F7FB;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--secondFont);
  color: var(--mainColor);
}


.choix {
  background-color: transparent;
  padding: .3em 1.5em;
  border: 1px solid #4D5B9E;
  border-radius: 10px;
  cursor: pointer;
  transition: 100ms;
}


.selecetd {
  background-color: #D6DBF5  ;
  border: none;
}

.wrong {
  background-color: #F8BCBC;
  color: gray;
  border: none;
}

.correct {
  background-color: #94D7A2;
  border: none;
}

.other-choices {
  opacity: .5;
}


main, .play-start {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  justify-content: center;  
}

.play-start {
  align-items: center;
}


h1, p {
  margin: 0;
}

.title {
  color: var(--mainColor);
  font-family: var(--mainFont);
  margin-bottom: .3em;
  font-size: 3rem;
}
.start-game {
  text-align: center;
  color: var(--mainColor);
  font-family: var(--secondFont);
  font-size: 1.2rem;
  margin-bottom: 2em;
  max-width: 400px;
  line-height: 1.5;
}

button {
  padding: 1.5em 4em;
  background-color: #4D5B9E  ;
  color: var(--secondColor);
  border: none;
  font-weight: 500;
  border-radius: 10px;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: .5s;
}

button:hover {
  background-color: #6a35ab;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.choices {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  gap: 12px;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 2px solid #DBDEF0  ;
  padding-bottom: 1.2em;
}

.results-container {
  margin-top: 3em;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.result-caption {
  font-weight: bold;
  font-size: 1.1rem;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 1.5em;
  font-family: var(--mainFont);
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}


@media  (max-width: 1000px) {
  main {
    height: unset;
    width: 90%;
  }
  .choices {
    flex-wrap: wrap;
  }

  .results-container {
    margin-top: 1em;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
  }

}